<mat-toolbar class="header-toolbar">

  <!-- Botão hamburguer (mobile) -->
  <button mat-icon-button (click)="toggleSidenav.emit()" class="menu-btn" matTooltip="Menu">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="spacer"></span>

  <!-- Usuário + logout -->
  <div class="user-area">
    <div class="user-avatar">{{ getUserInitials() }}</div>
    <span class="user-name">{{ getUserName() }}</span>
    <button mat-icon-button class="logout-btn" (click)="logout()" matTooltip="Sair">
      <mat-icon>logout</mat-icon>
    </button>
  </div>

</mat-toolbar>
